**/*.ts
**/*.map
**/.DS_Store
src/**
.vscode/**
.vscode-test.*
tsconfig.json
JiraPollingService/**
!out/**
!media/**
!JiraPollingService/appsettings.json
!JiraPollingService/node/**
!README.md
!LICENSE
